<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">
          <!-- Render our data -->
          <h1>Mission to Mars Project</h1>
          <!-- <button type="button" class="btn btn-primary" href="http://www.google.com">Scrape The Most Recent Info On Mars</button> -->
          <a class="btn btn-primary" href="scrape" role="button">Scrape The Most Recent Info On Mars</a>
        </div>
        <br>
        <div>
            <h1>The Latest Mars News</h1>
            <h3>{{data.title}}</h3>
            <p>{{data.paragraph}}</p>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h1>Featured Mars Image</h1>
               
                <img src={{data.image}} alt="recent mars image">     <!-- syntax;<img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> -->
            </div>
            <div class="col-md-5">
                <br>
                <br>
                Mars Facts
                <table border="1" class="table table-striped">
                    <thead>
                      <tr style="text-align: right;">
                        <th>Mars - Earth Comparison</th>
                        <th>Mars</th>
                        <th>Earth</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Diameter:</td>
                        <td>6,779 km</td>
                        <td>12,742 km</td>
                      </tr>
                      <tr>
                        <td>Mass:</td>
                        <td>6.39 × 10^23 kg</td>
                        <td>5.97 × 10^24 kg</td>
                      </tr>
                      <tr>
                        <td>Moons:</td>
                        <td>2</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Distance from Sun:</td>
                        <td>227,943,824 km</td>
                        <td>149,598,262 km</td>
                      </tr>
                      <tr>
                        <td>Length of Year:</td>
                        <td>687 Earth days</td>
                        <td>365.24 days</td>
                      </tr>
                      <tr>
                        <td>Temperature:</td>
                        <td>-87 to -5 °C</td>
                        <td>-88 to 58°C</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row">
            <br>
            <br>
            <br>
            <h2 class='text-center'>Mars Hemispheres</h2>
            <hr>
            <br>
            {% for hemisphere in data.hemispheres %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top img-fluid" src={{hemisphere.img_url}} width ="250" height="250" alt=hemisphere.title>
                    <div class="card-body">
                      <p class="card-text">{{hemisphere.title}}</p>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>